@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-thin";
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-light";
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-bold";
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-black";
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-style: normal;
}
:root {
  --primary-color: #ebf0ef;
  --secondary-color: #006a75;
  --text-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
}

body {
  font-size: 1.5rem;
  font-family: lato, sans-serif;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0.02rem;
}

ul,
li {
  list-style: none;
}

.d-none {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav {
  display: flex;
}
.navbar-link {
  display: inline-block;
  position: relative;
  padding: 0.5rem 0;
}
.navbar-link::after {
  content: "";
  display: inline-block;
  width: 0;
  border-bottom: 0.1rem solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.navbar-link:hover::after,
.navbar-link .active {
  width: 100%;
}
.navbar-items {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.active .navbar-link::after {
  width: 100%;
}

.modal {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-shadow {
  width: inherit;
  height: inherit;
  background-color: rgba(34, 34, 34, 0.6666666667);
  backdrop-filter: blur(0.2rem);
  -webkit-backdrop-filter: blur(0.2rem);
}
.modal-container {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  width: 100rem;
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  display: flex;
  gap: 3rem;
}
.modal-logo, .modal-box {
  flex: 1;
  padding: 7rem;
}
.modal-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-logo__img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3rem solid var(--secondary-color);
  padding: 0.3rem;
}
.modal-logo__img:hover .modal-logo__pic {
  scale: 1.2;
}
.modal-logo__pic {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}
.modal-box {
  display: grid;
  grid-template-columns: repeat(2, 100%);
  gap: 8rem;
  place-items: center;
}

main {
  max-width: 140rem;
  margin-inline: auto;
}
