@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-thin";
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-light";
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-bold";
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-style: normal;
}
@font-face {
  font-family: "lato-black";
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-style: normal;
}
:root {
  --primary-color: #ebf0ef;
  --secondary-color: #006a75;
  --text-color: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
}

body {
  font-size: 1.5rem;
  font-family: lato, sans-serif;
  background-color: var(--secondary-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 0.02rem;
}

ul,
li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-nav {
  display: flex;
}
.navbar-link {
  display: inline-block;
  position: relative;
  padding: 0.5rem 0;
}
.navbar-link::after {
  content: "";
  display: inline-block;
  width: 0;
  border-bottom: 0.1rem solid #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s;
}
.navbar-link:hover::after,
.navbar-link .active {
  width: 100%;
}
.navbar-items {
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  transition: all 0.3s;
}

.active .navbar-link::after {
  width: 100%;
}

main {
  max-width: 140rem;
  margin-inline: auto;
}
