:root {
  --text: #dcdcdc;
  --bg: #3ea83e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
}

.main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}
