:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.row {
  background-color: #efefef;
  width: 100%;
  overflow: hidden;
}
.row:hover .translate_box {
  transform: translate(100%);
}
.row:hover .rotate_box {
  transform: rotate(2turn);
}
.row:hover .scale_box {
  transform: scale(1.5, 2.5);
}
.row:hover .skew_box {
  transform: skew(50deg, 20deg);
}
.row {
  display: grid;
}

.box {
  width: 15rem;
  height: 15rem;
  background-color: crimson;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition-property: transform;
  transition-duration: 0.3s;
}

.scale_box,
.skew_box {
  justify-self: center;
}
