@use "sass:list";

.main {
  // width: 20rem;
  // width: 70rem;
  height: 30rem;
  background-color: #bcbcbc;

  display: flex;
  // flex-direction: column;
  // flex-direction: column-reverse;
  // flex-direction: row; // default
  // flex-direction: row-reverse;
  // flex-wrap: wrap;
  // flex-wrap: nowrap;
  // flex-flow: row-reverse wrap; // flex-direction flex-wrap

  // justify-content: flex-end;
  // flex-wrap: wrap;
  // justify-content: center; // flex-start, center, flex-end, space-between, space-around
  // align-items: center; // stretch is default, flex-start, center, flex-end
  // align-content: flex-start;
  // align-content: flex-end;
  // align-content: space-evenly;
}

$colors_flex: (
  yellow,
  red,
  green,
  orange,
  brown,
  gold,
  blue,
  tomato,
  crimson,
  orchid
);

:root {
  font-size: 62.5%;
}
@for $i from 1 through 10 {
  .flex-items__#{$i} {
    background-color: list.nth($colors_flex, $i);
    font-size: 1.6rem;

    // flex-grow: $i;

    // flex-grow: 1; // 0 is default
    // flex-basis: 10rem;
    // flex-shrink: 0; // 1 is default
  }
}
