$colors: (orangered, gold, crimson, tomato, skyblue);

@function calarea($i) {
  @return 100 * $i + px;
}

@for $i from 1 through 5 {
  .box#{$i} {
    width: calarea($i);
    height: calarea($i);
    background-color: nth($colors, $i);
    color: white;
    margin-bottom: 0.5rem;
  }
}
