@use "sass:list";

$colors: (orangered, gold, crimson, tomato, skyblue);

@function calarea($i) {
  @return 100 * $i + px;
}

.section {
  // display: table;
}

.clear {
  clear: both;
}

@for $i from 1 through 5 {
  .box#{$i} {
    width: calarea($i);
    height: calarea($i);
    background-color: list.nth($colors, $i);
    color: white;
    margin-bottom: 0.5rem;
    float: left;
  }
}

// .box1 {
//   float: left;
// }

// .box2 {
//   float: left;
// }

// .box4 {
//   float: left;
// }
