// .bdstyle1 {
//   border-style: solid;
// }

// .bdstyle2 {
//   border-style: double;
// }

// .bdstyle3 {
//   border-style: dotted;
// }

// .bdstyle4 {
//   border-style: inset;
// }

// .bdstyle5 {
//   border-style: outset;
// }

// .bdstyle6 {
//   border-style: dashed;
// }

$bd_styles: ("solid", "dashed", "dotted", "inset", "outset", "double");

$i: 1;

@each $bdstyle in $bd_styles {
  .bdstyle#{$i} {
    border-style: #{$bdstyle};
  }
  $i: $i + 1;
}
