//

.list-group {
  // list-style: none;
  // list-style: armenian;
  // list-style: decimal-leading-zero;
  // list-style-type: georgian;
  // list-style-type: upper-roman;
  // list-style-type: lower-greek;
  list-style-type: upper-alpha;
}
