.clear {
  clear: both;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: orangered;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: gold;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box3 {
  width: 300px;
  height: 300px;
  background-color: crimson;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box4 {
  width: 400px;
  height: 400px;
  background-color: tomato;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box5 {
  width: 500px;
  height: 500px;
  background-color: skyblue;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.main {
  height: 30rem;
  background-color: #bcbcbc;
  display: flex;
}

:root {
  font-size: 62.5%;
}

.flex-items__1 {
  background-color: yellow;
  font-size: 1.6rem;
}

.flex-items__2 {
  background-color: red;
  font-size: 1.6rem;
}

.flex-items__3 {
  background-color: green;
  font-size: 1.6rem;
}

.flex-items__4 {
  background-color: orange;
  font-size: 1.6rem;
}

.flex-items__5 {
  background-color: brown;
  font-size: 1.6rem;
}

.flex-items__6 {
  background-color: gold;
  font-size: 1.6rem;
}

.flex-items__7 {
  background-color: blue;
  font-size: 1.6rem;
}

.flex-items__8 {
  background-color: tomato;
  font-size: 1.6rem;
}

.flex-items__9 {
  background-color: crimson;
  font-size: 1.6rem;
}

.flex-items__10 {
  background-color: orchid;
  font-size: 1.6rem;
}

.grid-items__1 {
  background-color: hsl(20, 90%, 63%);
  font-size: 1.6rem;
}

.grid-items__2 {
  background-color: hsl(167, 55%, 56%);
  font-size: 1.6rem;
}

.grid-items__3 {
  background-color: hsl(198, 90%, 46%);
  font-size: 1.6rem;
}

.grid-items__4 {
  background-color: hsl(293, 72%, 59%);
  font-size: 1.6rem;
}

.grid-items__5 {
  background-color: hsl(45, 93%, 68%);
  font-size: 1.6rem;
}

.grid-items__6 {
  background-color: hsl(50, 60%, 62%);
  font-size: 1.6rem;
}

.grid-items__7 {
  background-color: hsl(130, 57%, 69%);
  font-size: 1.6rem;
}

.grid-items__8 {
  background-color: hsl(274, 57%, 67%);
  font-size: 1.6rem;
}

.grid-items__9 {
  background-color: hsl(337, 96%, 70%);
  font-size: 1.6rem;
}

.grid-items__10 {
  background-color: hsl(242, 92%, 47%);
  font-size: 1.6rem;
}

.grid-items__11 {
  background-color: hsl(94, 89%, 64%);
  font-size: 1.6rem;
}

.grid-items__12 {
  background-color: hsl(327, 57%, 66%);
  font-size: 1.6rem;
}

.grid-items__13 {
  background-color: hsl(262, 66%, 69%);
  font-size: 1.6rem;
}

.grid-items__14 {
  background-color: hsl(292, 95%, 46%);
  font-size: 1.6rem;
}

.grid-items__15 {
  background-color: hsl(332, 63%, 50%);
  font-size: 1.6rem;
}

.grid-items__16 {
  background-color: hsl(326, 96%, 53%);
  font-size: 1.6rem;
}

.grid-items__17 {
  background-color: hsl(137, 100%, 66%);
  font-size: 1.6rem;
}

.grid-items__18 {
  background-color: hsl(145, 68%, 65%);
  font-size: 1.6rem;
}

.grid-items__19 {
  background-color: hsl(245, 96%, 61%);
  font-size: 1.6rem;
}

.grid-items__20 {
  background-color: hsl(139, 62%, 56%);
  font-size: 1.6rem;
}

.grid-items__21 {
  background-color: hsl(38, 88%, 48%);
  font-size: 1.6rem;
}

.grid-items__22 {
  background-color: hsl(30, 53%, 62%);
  font-size: 1.6rem;
}

.grid-items__23 {
  background-color: hsl(61, 59%, 62%);
  font-size: 1.6rem;
}

.grid-items__24 {
  background-color: hsl(73, 88%, 59%);
  font-size: 1.6rem;
}

.grid-items__25 {
  background-color: hsl(330, 61%, 65%);
  font-size: 1.6rem;
}

.grid-items__26 {
  background-color: hsl(42, 68%, 57%);
  font-size: 1.6rem;
}

.grid-items__27 {
  background-color: hsl(192, 88%, 47%);
  font-size: 1.6rem;
}

.grid-items__28 {
  background-color: hsl(296, 76%, 56%);
  font-size: 1.6rem;
}

.grid-items__29 {
  background-color: hsl(346, 70%, 42%);
  font-size: 1.6rem;
}

.grid-items__30 {
  background-color: hsl(177, 64%, 68%);
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-auto-rows: 15rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5, minmax(10rem, 12rem));
  place-content: center end;
}

.grid-items__1 {
  grid-area: 1/1/3/3;
}

.grid-items__20 {
  grid-area: 6/3/8/5;
}
