.clear {
  clear: both;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: orangered;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: gold;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box3 {
  width: 300px;
  height: 300px;
  background-color: crimson;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box4 {
  width: 400px;
  height: 400px;
  background-color: tomato;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box5 {
  width: 500px;
  height: 500px;
  background-color: skyblue;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}
