.clear {
  clear: both;
}

.box1 {
  width: 100px;
  height: 100px;
  background-color: orangered;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: gold;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box3 {
  width: 300px;
  height: 300px;
  background-color: crimson;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box4 {
  width: 400px;
  height: 400px;
  background-color: tomato;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.box5 {
  width: 500px;
  height: 500px;
  background-color: skyblue;
  color: white;
  margin-bottom: 0.5rem;
  float: left;
}

.main {
  height: 30rem;
  background-color: #bcbcbc;
  display: flex;
}

:root {
  font-size: 62.5%;
}

.flex-items__1 {
  background-color: yellow;
  font-size: 1.6rem;
}

.flex-items__2 {
  background-color: red;
  font-size: 1.6rem;
}

.flex-items__3 {
  background-color: green;
  font-size: 1.6rem;
}

.flex-items__4 {
  background-color: orange;
  font-size: 1.6rem;
}

.flex-items__5 {
  background-color: brown;
  font-size: 1.6rem;
}

.flex-items__6 {
  background-color: gold;
  font-size: 1.6rem;
}

.flex-items__7 {
  background-color: blue;
  font-size: 1.6rem;
}

.flex-items__8 {
  background-color: tomato;
  font-size: 1.6rem;
}

.flex-items__9 {
  background-color: crimson;
  font-size: 1.6rem;
}

.flex-items__10 {
  background-color: orchid;
  font-size: 1.6rem;
}

.grid-items__1 {
  background-color: hsl(124, 54%, 59%);
  font-size: 1.6rem;
}

.grid-items__2 {
  background-color: hsl(125, 87%, 57%);
  font-size: 1.6rem;
}

.grid-items__3 {
  background-color: hsl(188, 95%, 66%);
  font-size: 1.6rem;
}

.grid-items__4 {
  background-color: hsl(224, 75%, 67%);
  font-size: 1.6rem;
}

.grid-items__5 {
  background-color: hsl(0, 77%, 41%);
  font-size: 1.6rem;
}

.grid-items__6 {
  background-color: hsl(62, 99%, 64%);
  font-size: 1.6rem;
}

.grid-items__7 {
  background-color: hsl(175, 53%, 67%);
  font-size: 1.6rem;
}

.grid-items__8 {
  background-color: hsl(255, 71%, 60%);
  font-size: 1.6rem;
}

.grid-items__9 {
  background-color: hsl(74, 56%, 70%);
  font-size: 1.6rem;
}

.grid-items__10 {
  background-color: hsl(201, 93%, 58%);
  font-size: 1.6rem;
}

.grid-items__11 {
  background-color: hsl(168, 64%, 55%);
  font-size: 1.6rem;
}

.grid-items__12 {
  background-color: hsl(137, 81%, 62%);
  font-size: 1.6rem;
}

.grid-items__13 {
  background-color: hsl(56, 77%, 41%);
  font-size: 1.6rem;
}

.grid-items__14 {
  background-color: hsl(151, 69%, 44%);
  font-size: 1.6rem;
}

.grid-items__15 {
  background-color: hsl(55, 70%, 53%);
  font-size: 1.6rem;
}

.grid-items__16 {
  background-color: hsl(182, 93%, 69%);
  font-size: 1.6rem;
}

.grid-items__17 {
  background-color: hsl(2, 72%, 57%);
  font-size: 1.6rem;
}

.grid-items__18 {
  background-color: hsl(16, 84%, 44%);
  font-size: 1.6rem;
}

.grid-items__19 {
  background-color: hsl(296, 56%, 51%);
  font-size: 1.6rem;
}

.grid-items__20 {
  background-color: hsl(87, 85%, 41%);
  font-size: 1.6rem;
}

.grid-items__21 {
  background-color: hsl(300, 86%, 45%);
  font-size: 1.6rem;
}

.grid-items__22 {
  background-color: hsl(95, 89%, 41%);
  font-size: 1.6rem;
}

.grid-items__23 {
  background-color: hsl(246, 97%, 45%);
  font-size: 1.6rem;
}

.grid-items__24 {
  background-color: hsl(228, 75%, 45%);
  font-size: 1.6rem;
}

.grid-items__25 {
  background-color: hsl(259, 82%, 57%);
  font-size: 1.6rem;
}

.grid-items__26 {
  background-color: hsl(298, 52%, 56%);
  font-size: 1.6rem;
}

.grid-items__27 {
  background-color: hsl(357, 79%, 47%);
  font-size: 1.6rem;
}

.grid-items__28 {
  background-color: hsl(60, 78%, 68%);
  font-size: 1.6rem;
}

.grid-items__29 {
  background-color: hsl(113, 66%, 70%);
  font-size: 1.6rem;
}

.grid-items__30 {
  background-color: hsl(276, 90%, 65%);
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-auto-rows: 15rem;
  grid-auto-flow: dense;
  grid-template-columns: repeat(5, minmax(10rem, 12rem));
  place-content: center end;
}

.grid-items__1 {
  grid-area: 1/1/3/3;
}

.grid-items__20 {
  grid-area: 6/3/8/5;
}

.main-container {
  width: 700px;
  height: 700px;
  background-color: beige;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  border-radius: 50%;
  border: 1px solid;
  position: absolute;
}
.circle-1 {
  width: 170px;
  height: 170px;
  background-image: conic-gradient(red 0%, blue 33%, red 0%, green 66%, red 0%, yellow 100%);
}
.circle-2 {
  width: 150px;
  height: 150px;
  background-color: black;
}

.pointer {
  width: 10px;
  height: 100px;
  position: relative;
  top: -50px;
  z-index: 3;
  animation: rotation 5s linear infinite;
  transform-origin: bottom;
}

.point {
  display: block;
  width: 10px;
  height: 10px;
  background-color: brown;
  border-radius: 50%;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
