@use "../abstract/variables" as var;

:root {
  @each $name, $val in var.$colors {
    --#{$name}: #{$val};
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  font-size: 1.6rem;
}
