//

// INSTALL INTER FONTs

@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url(../fonts/Lato/Lato-Thin.ttf);
  font-style: normal;
}

@font-face {
  font-family: "lato-light";
  src: url(../fonts/Lato/Lato-Light.ttf);
  font-style: normal;
  //   font-weight: 300;
}

@font-face {
  font-family: "lato-bold";
  src: url(../fonts/Lato/Lato-Bold.ttf);
  font-style: normal;
  //   font-weight: 700;
}

@font-face {
  font-family: "lato-black";
  src: url(../fonts/Lato/Lato-Black.ttf);
  font-style: normal;
  //   font-weight: 900;
}
