.selection-02 + article {
  background-color: brown;
  color: white;
  padding: 5rem 0;
}

.selection-01 ~ article {
  background-color: tomato;
}

ul li {
  list-style: decimal-leading-zero;
}

.fullname:focus {
  outline: none;
  border: 0.2rem solid crimson;
}

.form-check input[type=checkbox]:checked {
  accent-color: gold;
}

.submit:disabled {
  background-color: goldenrod;
  cursor: not-allowed;
}

article:first-child h1:nth-child(1) {
  color: crimson;
  text-transform: capitalize;
}

article:first-child p:first-of-type {
  background-color: crimson;
  color: white;
}

p::selection {
  color: white;
  background-color: black;
}

p::before {
  content: "ABC";
  font-size: 3rem;
  color: blue;
}

p::after {
  content: "EFG";
  font-size: 3rem;
  color: gold;
}

li::marker {
  color: crimson;
  font-size: 2rem;
}

input::placeholder {
  color: crimson;
}
