@use "../abstract/variables" as var;
@use "../abstract/functions" as fun;

:root {
  @each $name, $color in var.$colors {
    --#{$name}-color: #{$color};
  }
}

// RESET ALL MARGIN AND PADDING

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-weight: 400;
}

body {
  font-size: 1.5rem;
  font-family: lato, sans-serif;
  background-color: fun.getColor(secondary);
}

a {
  text-decoration: none;
  color: fun.getColor(text);
  letter-spacing: 0.02rem;
}

ul,
li {
  list-style: none;
}
