.para {
  // text-align: left; // Default
  //   text-align: right;
  //   text-align: center;
  text-align: justify;
}

.para {
  text-decoration: underline;
  text-decoration: line-through;
  text-decoration: overline;
  text-decoration-color: red;
  text-decoration-style: double;
}

.para {
  //   letter-spacing: 10px;
  //   line-height: 100px;
  text-indent: 4rem;
}
