//

@use "../abstract/functions" as fun;

.modal {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &-shadow {
    width: inherit;
    height: inherit;
    background-color: #222a;
    backdrop-filter: blur(0.2rem);
    -webkit-backdrop-filter: blur(0.2rem);
  }

  &-container {
    background-color: fun.getColor(primary);
    border-radius: 0.5rem;
    width: 100rem;
    overflow: hidden;

    position: absolute;
    z-index: 1000;

    display: flex;
    gap: 3rem;
  }

  &-logo,
  &-box {
    flex: 1;
    padding: 7rem;
  }

  &-logo {
    // position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      overflow: hidden;
      border: 0.3rem solid fun.getColor(secondary);
      padding: 0.3rem;

      &:hover .modal-logo__pic {
        scale: 1.2;
      }
    }

    &__pic {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      cursor: pointer;

      transition: all 0.3s;
    }
  }

  &-box {
    display: grid;
    grid-template-columns: repeat(2, 100%);
    gap: 8rem;
    place-items: center;
  }
}

.form {
  &-login,
  &-register {
  }
}
